<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restablece tu Contraseña</title>
  </head>
  <body>
    <h2>Hola,</h2>
    <p>Recibimos una solicitud para restablecer tu contraseña.</p>
    <p>Para restablecer tu contraseña, haz clic en el siguiente enlace:</p>
    <p><a href="{{ reset_link }}">Restablecer Contraseña</a></p>
    <p>
      Si no solicitaste restablecer tu contraseña, por favor ignora este correo.
    </p>
    <p>Gracias,</p>
    <p>El equipo de MIDI</p>
  </body>
</html>
